#number-column input {
  display:inline-block;
}

.shop {
  border-left: 1px solid grey;
}

.awning {
  padding:0;
}

.reading {
  transform: rotate(30deg);
  transform-origin: left;
}

.reading a {
  text-decoration: none;
  color:black;
}

.shop-item {
  border: 1px solid black;
  border-radius:4px;
  cursor: pointer;
}

.fa-check {
  color: green;
}

table .glyphicon {
  color:red;
}

td {
  text-align: center;
}

.minecraft-panel {
  padding:1px;
}

#sum-box {
  width:3em;
}

tfoot {
  background-color: orange;
  font-weight: bold;
  text-align: center;
}

body {
  height:700px;
}

.page-height {
  height:700px;
}

.number {
  display:inline-block;
  border-color: grey;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style:solid;
  border-top-width: 0;
  border-bottom-width: 0;
  width:2em;
  text-align: center;
}

#earnings {
  font-size: large;
}

#health {
  background-color: green;
}
